html{
	background-color: #b3e6b3;
	text-align: center;
	/*margin-top: 100px;*/
	padding: 70px;
}
div{
	background-color:  white;
	/*height: 300px;*/
	padding: 40px;
	text-align: left;
	text-align: center;
	color: green;
}
img{
	height: 50px;
	width: 50px;
}
#h1{
	text-align: center;
	font-size: 50px;
}
form{
	font-size: 40px;
	text-align: center;
}
input{
	color: green;
	border: 2px solid green;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}
#btn{
	background-color: #006600;
	color: white;
	text-align: center;
	font-size: 35px;
	padding: 5px;
	margin: 20px;
	border: none;
}
#btn:hover{
	background-color: #00802b;
}
h2{
	text-align: left;
	margin-left: 280px;
	font-size: 40px;
}
h3{
	text-align: left;
	margin-left: 280px;
	font-size: 40px;
	font-weight: normal;
}
#res{
	font-weight: bolder;
}